
/* REGOLE GENERALE  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    width: 100%;
    height: 100vh;;
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container img {
    width: 100%;
}

.containerimg{
    width: 14%;
    height: 33px;
    /* debug */
    background-color: palevioletred;
}
.header{
    width: 100%;
    height: 10vh;
    background-color: rgb(55, 210, 12);
}

/* STRUTTURA DELLA WEB APP */

#app{
    width: 80%;    
    height: 85vh;
    background-color: wheat;
    display: flex;
}

/* STRUTTURE RIPETURE IN VARIE PARTI */

.profile{
    width: 100%;
    min-height: calc(100% / 15);
    background-color:#eaeaea;
    display: flex;
    justify-content: space-between;
}


/* COLONNA PICCOLA UTENTE E CHAT APERTE  */

.colPiccola{
    width: 40%;
    height: 100%;
    /* DEBUG */
    background-color: white;
    border: 2px solid black;
}

.profile .iconfontawesome{
    color: #b1b1b1;
    margin: 5px;
}

.iconfontawesome i{
   margin-right: 5px;
   font-size: 14px;
}

#notifiche {
	width: 100%;
	min-height: calc(100% / 10);
	background-color: #8edafc;
	display: flex;
	align-items: center;
}

.iconfontawesomeBackground {
	color: #8edafc;
	background-color: white;
	width: 32px;
	height: 32px;
	margin-left: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 25px;
}

.textnotifiche{
    margin-left: 6px;
}

.textnotifiche span{
    font-size: 10px;
    color: grey;
    text-decoration: underline;
}

#ricerca{
    width: 100%;
    min-height: calc(100% / 15);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
}

.barradiricerca {
	width: 83%;
	border: 1px solid grey;
}

#ricerca button {
	width: 14%;
	border-radius: 0px;
	background: white;
	border: 1px solid grey;
    color: grey;
}

.containerchataperte{
    height: 76%;
    overflow-y: scroll;
}

#chatAperte {
	width: 100%;
	min-height: calc(100% / 6);
	display: flex;
	align-items: center;
    /* DEBUG */
	background-color: yellow;
	border: 1px solid black;
}

.textchataperte{
    margin-left: 10px;
}

/* GESTIONE DELLA CHAT */

.chat{
    width: 60%;
    height: 100%;
    /* DEBUG */
    background-color: aqua;
    border: 2px solid black;
}




