
/* REGOLE GENERALE  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    width: 100%;
    height: 100vh;;
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container img {
    width: 100%;
}

.containerimg{
    width: 40px;
    height: 40px;
    /* debug */
    background-color: palevioletred;
}
.header{
    width: 100%;
    height: 10vh;
    background-color: rgb(55, 210, 12);
}

/* STRUTTURA DELLA WEB APP */

#app{
    width: 80%;    
    height: 85vh;
    background-color: wheat;
    display: flex;
}

/* STRUTTURE RIPETURE IN VARIE PARTI */

.profile{
    width: 100%;
    min-height: calc(100% / 15);
    background-color:#eaeaea;
    display: flex;
    justify-content: space-between;
}


/* COLONNA PICCOLA UTENTE E CHAT APERTE  */

.colPiccola{
    width: 40%;
    height: 100%;
    /* DEBUG */
    background-color: white;
    border: 2px solid black;
}

/* PROIFLO UTENTE */

.profile .iconfontawesome {
	color: #b1b1b1;
	margin-top: 12px;
	margin-right: 4px;
}
.iconfontawesome i{
   margin-right: 5px;
   font-size: 14px;
}

.profile span {
	margin-right: 110px;
	margin-top: 13px;
}

/* NOTIFICHE */

#notifiche {
	width: 100%;
	min-height: calc(100% / 10);
	background-color: #8edafc;
	display: flex;
	align-items: center;
}

.iconfontawesomeBackground {
	color: #8edafc;
	background-color: white;
	width: 32px;
	height: 32px;
	margin-left: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 25px;
}

.textnotifiche{
    margin-left: 6px;
}

.textnotifiche span{
    font-size: 10px;
    color: grey;
    text-decoration: underline;
}

/* RICERCA */

#ricerca{
    width: 100%;
    min-height: calc(100% / 15);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
}

.barradiricerca {
	width: 83%;
	border: 1px solid grey;
}

#ricerca button {
	width: 14%;
	border-radius: 0px;
	background: white;
	border: 1px solid grey;
    color: grey;
}

/* CHAT APERTE  */

.containerchataperte{
    height: 76%;
    overflow-y: scroll;
}

#chatAperte {
	width: 100%;
	min-height: calc(100% / 6);
	display: flex;
	align-items: center;
    /* DEBUG */
	background-color: yellow;
	border: 1px solid black;
}

.textchataperte{
    margin-left: 10px;
}

/* GESTIONE DELLA CHAT */

.chat{
    width: 60%;
    height: 100%;
    background-image: url(img/backgroundimage.jpg);
    border: 2px solid black;
}

.infoUtenteVisualizzato{
    min-height:calc(100% / 13);
    background-color:#eaeaea ;
    display: flex;
    align-items: center;
}

.colonnaMessaggiUscita{
    margin-left: 250px;
    margin-top: 25px;
}

.colonnaMessaggiEntrata{
    margin-left: 40px;
    margin-top: 25px;
}

.messaggioIn{
    width: 150px;
    min-height: 35px;
    border-radius: 7px;
    display: flex;
    align-items:center;
}

.Entrata{
    background-color: white;
}

.Uscita{
    background-color:#d5f9ba;
}

.messaggioIn span{
    margin-left: 5px;
    font-size: 13px;
}

/* INSERIMENTO MESSAGGIO */

.inserimentomessaggio {
	background-color: #f3eeea;
	height: 7%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 241px;
}

.inserimentomessaggio i{
    color: grey;
}

.fa-microphone{
    padding-right: 9px;
}







